body {
    font-family: 'Indie Flower', cursive;
}


h1{
    font-weight: 800;
    font-size: 1.5em;
}

p {
    padding: 0.1em;
}
.box-1{
    width: 100px;
    height: 100px;
    background-color: yellow;
    padding: 2em;
    justify-content: center;
    margin: 8px;
    transform: rotate(5deg);
    transition: transform 0.3s ease-in-out;
    
   
}

.box-1:hover{
    transform: scale(1.2) rotate(2deg);
}

