/* IMPOSTAZIONI GENERALI */
*{
    font-family: 'Poppins', sans-serif;
    padding: 2%;
    
}

body{
    background-image:url('../img/sfondo.png');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed;
}
/* HEADER */
header {
    font-family: 'Poppins', sans-serif;
    padding: 2%;


}
.container {
    background-color: cadetblue;
    color: white;
    border: 2px solid #1e2a3a; /* Establece un borde sólido de 2 píxeles de ancho y color azul oscuro */
    width: 400px; /* Ajusta el ancho del contenedor según tus necesidades */
    text-align: center; /* Centra los elementos dentro del contenedor */
    padding: 20px; /* Añade relleno al contenedor */
}

nav {
    text-align: center; /* Centra los elementos del nav */
    padding: 10px;
    
}

.ul1 {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
}

.l2 {
    display:list-item; /* Muestra los elementos de la lista en línea (uno al lado del otro) */
    margin: 0 15px; /* Agrega espacio horizontal entre los elementos de la lista */
    
}

.l2::before {
    content: '\2192'; /* Código de flecha derecha en Unicode */
    margin-right: 5px; /* Espacio entre la flecha y el texto */
    
}

/* MAIN */

main{
    background-color: white;
    padding: 20px; /* Agrega espacio interno alrededor del contenido dentro del contenedor */
    border-radius: 10px; /* Opcional: agrega esquinas redondeadas al contenedor */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}



article h1 {
    font-weight: 800;
    font-size: xx-large;
}

article p {
    padding: 10px 10px;
}

.autore {
    font-weight: 150;
    color: gray;
}

.header ul {
    
    margin-left: 20px; /* Ajusta el margen izquierdo de la lista desordenada */
    list-style-type: square; /* Establece el estilo del marcador de lista */
    padding: 10px 10px;
  }




  ol{
    margin-left: 20px; /* Ajusta el margen izquierdo de la lista desordenada */
    list-style-type:decimal; /* Establece el estilo del marcador de lista */
    padding: 10px 10px;
  }

table {
    width: 100%; /* Ajusta el ancho de la tabla al 100% del contenedor */
    border-collapse: collapse; /* Combina los bordes de las celdas para un estilo más limpio */
  }
  
  thead {
    background-color: #f2f2f2; /* Color de fondo para el encabezado de la tabla */
  }
  
  th {
    background-color: darkblue; /* Color de fondo para las celdas del encabezado */
    color: white; /* Color del texto en las celdas del encabezado */
    padding: 10px; /* Añade relleno a las celdas del encabezado */
  }

aside h2{
    font-family: 'Poppins', sans-serif;
    font-size: x-large;

}
aside div{
    font-family: 'Poppins', sans-serif;
    padding: 2%;
    background-color: beige; /* Color de fondo beige */
    padding: 10px; /* Espaciado interno del párrafo */
    margin: 0; /* Elimina los márgenes externos del párrafo */
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
